<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
    crossorigin="anonymous"></script>
  <link href="/css/styles.css" rel="stylesheet">
  <title>Home</title>
</head>

<body class="text-center">
  <%- include("partials/header.ejs") %>

    <div id="centerDiv">
      <!-- Search by keyword -->
      <div id="partitionSectionDiv">
        <form id="searchByKeyWordForm" method="GET">
          <label>Search by keyword <input type="text" name="keyword"></label>
          <button>Search</button>
        </form>
      </div>

      <!-- Search by author -->
      <div id="partitionSectionDiv">
        <form action="/searchByAuthor" method="GET">
          <label>Search by author</label>
          <select name="authorId">
            <% for (let authorRow of authorRows) { %>
              <option value="<%= authorRow.authorId %>">
                <%= authorRow.firstName + " " + authorRow.lastName %>
              </option>
              <% } %>
          </select>
          <button>Search</button>
        </form>
      </div>

      <!-- Search by category -->
      <div id="partitionSectionDiv">
        <form action="/searchByCategory" method="GET">
          <label>Search by category</label>
          <select name="category">
            <% for (let catRow of categoriesRows) { %>
              <option value="<%= catRow.category %>">
                <%= catRow.category %>
              </option>
              <% } %>
          </select>
          <button>Search</button>
        </form>
      </div>

      <!-- Search by like range -->
      <div id="partitionSectionDiv">
        <form action="/searchByLikeRange" method="GET">
          <label>Search by likes</label>
          <div id="flex">
            <label>Minimum: <input type="number" name="min"></label>
            <label>Maximum: <input type="number" name="max"></label>
          </div>
          <button>Search</button>
        </form>
      </div>
    </div>

    <%- include("partials/footer.ejs") %>

      <script src="js/home.js"></script>
</body>

</html>